<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- SMS configurations: UAT -->
    <add key="UAT_UrlApiSmoovIM" value="http://uat-admin.smoovim.com" />
    <add key="UAT_AccessKeyApiSmoovIM" value="3b7cff7abead667f1d7e794a4ab6d413" />
    <add key="UAT_SmoovImUserName" value="huy.quan@smoovapp.com" />
    <add key="UAT_SmoovImPassword" value="061c64" />
    
    <!-- SMS configurations: LIVE -->
    <add key="LIVE_UrlApiSmoovIM" value="http://admin.smoovim.com" />
    <add key="LIVE_AccessKeyApiSmoovIM" value="3b7cff7abead667f1d7e794a4ab6d413" />
    <add key="LIVE_SmoovImUserName" value="huy.quan@smoovapp.com" />
    <add key="LIVE_SmoovImPassword" value="123456" />

    <!-- Push Notification configurations: INTERNAL -->
    <add key="INTERNAL_FileP12Name" value="https://smoovpos-uat.s3.amazonaws.com/smoovpos/SmoovPosTableOrderProductionCertificates.p12" />
    <add key="INTERNAL_FileP12Password" value="NhaSmoov123" />
    <add key="INTERNAL_AppleDeviceSoundNotify" value="default" />
    <add key="INTERNAL_BundleId" value="com.smoovpos.tableorder" />

    <!-- Push Notification configurations: PUBLIC -->
    <add key="PUBLIC_FileP12Name" value="https://smoovpos-uat.s3.amazonaws.com/smoovpos/apns_getzpass_pro_cer.p12" />
    <add key="PUBLIC_FileP12Password" value="getzpass" />
    <add key="PUBLIC_AppleDeviceSoundNotify" value="default" />
    <add key="PUBLIC_BundleId" value="co.getz.getzpass" />

    <!-- Push Notification configurations: ENTERPRISE -->
    <add key="ENTERPRISE_FileP12Name" value="https://smoovpos-uat.s3.amazonaws.com/smoovpos/Certificates.p12" />
    <add key="ENTERPRISE_FileP12Password" value="" />
    <add key="ENTERPRISE_AppleDeviceSoundNotify" value="default" />
    <add key="ENTERPRISE_BundleId" value="com.getzpass.getzpass" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>