<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MoonAPNS" version="0.0.4.188" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="3.2.0.0" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
  <package id="Winform.Metroframework" version="1.4.0" targetFramework="net452" />
</packages>